<template>
    <div>
        <b-row>
            <b-col>
                <h4 class="display-4">Post Page</h4>
            </b-col>
        </b-row>
        <b-row>
            <b-form @submit="submitForm" inline>
                <b-form-input
                    v-model="formData.description"
                    required
                    size="sm"
                    placeholder="Description"
                    class="mr-2"
                ></b-form-input>

                <b-button size="sm" type="submit" variant="primary"
                    >{{ actionLabel }}
                </b-button>
            </b-form>
        </b-row>
        <b-row>
            <!-- :no-border-collapse="false" -->
            <b-table
                small
                responsive
                hover
                :sticky-header="true"
                :items="items"
                :fields="fields"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
            >
                <template v-slot:cell(actions)="row">
                    <b-dropdown
                        id="botonera-dropdown"
                        text="Seleccione"
                        variant="outline-primary"
                        class="m-md-2"
                        size="sm"
                    >
                        <b-dropdown-item
                            title="Edit Post"
                            @click="loadEditionFormData(row.item)"
                        >
                            <i class="fas fa-edit"></i>
                            Edit
                        </b-dropdown-item>

                        <b-dropdown-item @click="deletePost(row.item)">
                            <i class="fas fa-trash"></i>
                            Delete
                        </b-dropdown-item>
                    </b-dropdown>
                </template>
            </b-table>
        </b-row>
    </div>
</template>

<script>
/* import Botonera from "./Botonera"; */
export default {
    components: {
        /* Botonera */
    },
    mounted() {
        this.getPosts();
    },
    methods: {
        submitForm(evt) {
            evt.preventDefault();
            this.isEditing ? this.updatePost() : this.storePost();
        },
        loadEditionFormData(post) {
            this.formData.description = post.description;
            this.formData.id = post.id;
            this.actionLabel = "Edit";
            this.isEditing = true;
        },
        getPosts() {
            axios.get(`/api/posts`).then(
                response => {
                    let rows = [];
                    response.data.forEach(post => {
                        rows.push({
                            id: post.id,
                            user: post.user.name,
                            description: post.description,
                            created_at: post.created_at
                        });
                    });
                    this.items = rows;
                },
                error => {
                    console.log(error);
                }
            );
        },
        storePost() {
            axios
                .post(`/api/posts`, this.formData)
                .then(response => {
                    this.getPosts();
                    this.formData.description = "";
                    this.isEditing = false;
                })
                .catch(error => {
                    console.log(error);
                });
        },
        updatePost() {
            this.actionLabel = "Add";
            this.isEditing = false;
            axios
                .patch(`/api/posts/${this.formData.id}`, this.formData)
                .then(response => {
                    this.getPosts();
                    this.formData.description = "";
                    this.formData.id = "";
                })
                .catch(error => {
                    console.log(error);
                });
        },
        deletePost(post) {
            axios
                .delete(`/api/posts/${post.id}`)
                .then(response => {
                    this.getPosts();
                })
                .catch(error => {
                    console.log(error);
                });
        }
    },
    data() {
        return {
            sortBy: "id",
            sortDesc: false,
            items: [],
            fields: [
                {
                    key: "id",
                    label: "Id",
                    class: "text-center",
                    sortable: true
                },
                {
                    key: "user",
                    label: "User",
                    class: "text-center",
                    sortable: true
                },
                {
                    key: "description",
                    label: "Description",
                    class: "text-center",
                    sortable: true
                },
                {
                    key: "created_at",
                    label: "Created At",
                    class: "text-center",
                    sortable: true
                },
                {
                    key: "actions",
                    label: "Acciones",
                    filterable: false,
                    class: "text-center"
                }
            ],
            formData: {},
            actionLabel: "Add",
            isEditing: false
        };
    }
};
</script>

<style></style>
