<template>
    <div>
        <b-dropdown
            id="botonera-dropdown"
            text="Seleccione"
            variant="outline-primary"
            class="m-md-2"
            size="sm"
        >
            <b-dropdown-item
                title="Editar Registro"
                @click="mostrarFormularioEdicion(row.item)"
            >
                <i class="fas fa-edit"></i>
                Editar
            </b-dropdown-item>

            <b-dropdown-item
                v-if="!row.item.deleted_at"
                @click="mostrarConfirmacion(row.item)"
            >
                <i class="fas fa-trash"></i>
                Eliminar
            </b-dropdown-item>
        </b-dropdown>
    </div>
</template>

<script>
import { mapMutations } from "vuex";
export default {
    props: {
        row: {}
    },
    methods: {
        ...mapMutations([
            "TOOGLE_MODAL_CONFIRMACION",
            "TOOGLE_MODAL_FORMULARIO",
            "SET_REGISTRO",
            "SET_ES_EDICION"
        ]),
        mostrarConfirmacion(registro) {
            this.TOOGLE_MODAL_CONFIRMACION();
            this.SET_REGISTRO(registro);
        },
        mostrarFormularioEdicion(registro) {
            this.TOOGLE_MODAL_FORMULARIO();
            this.SET_REGISTRO(registro);
            this.SET_ES_EDICION(true);
            this.$root.$emit("EdicionRegistro");
        }
    }
};
</script>
